*{
    font-family: 'Kaushan Script', cursive;
}
body{
    background-color:rgb(44, 112, 172);
}
section{
    position: relative;
    background-color: rgb(175, 202, 228);
    display: inline-block;
    width: 400px;
    height: 300px;
    left: 550px;
    top: 200px;
    text-align: center;
    border-radius: 10%;
    
}
